<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torrex</title>
    <link rel="stylesheet" href="build/static/styles/main.css">
    <script src="https://widget.cloudpayments.ru/bundles/cloudpayments.js"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"> -->
</head>
<body>
    <header>

        <div id="logo" onclick="slowScroll('#top')">
            <!-- <span>TorrexLite</span> -->
            <div class="img">
                <img src="/static/logo.png" alt="">
               
            </div>

        </div>

        <div id="func">
            <a href="#" class="btn41-43 btn-43" title="Buy" onclick="slowScroll('#pricing')">Buy </a>
            <a href="#" class="btn41-42 btn-42" title="Functions" onclick="slowScroll('#overview')">Func</a>

            <!-- 15.07.22 button -->
           
            <!-- <a href="#" class="btn41-43 btn-43" title="Buy" onclick="slowScroll('#pricing')">Buy</a>
            <a href="#" class="btn41-43 btn-43" title="Functions" onclick="slowScroll('#overview')">Functions</a> -->
        </div>


    </header>

    <div id="top">
        <h1>TorrexLite</h1>
        <h3>LegitHack</h3>

        <!-- 15.07 -->
        <a href="#" onclick="slowScroll('#pricing')"><button class="bn632-hover bn26" >BUY</button></a>

        <div class='scrolldown'>
            <div class="chevrons">
              <div class='chevrondown'></div>
              <div class='chevrondown'></div>
            </div>
          </div>
          
    </div>

    <div id="main">

        <div id="intro">
            <h2>Why Torrex?</h2>
        </div>

        <div id="text">
            <span>Because this product uses the latest technology to bypass the anti-cheat VAC system, thereby guaranteeing you protection from blocking.</span>
        </div>

    </div>

    <div id="overview">
        <h2>TorrexLite</h2>
        <h4>Functions</h4>

        <div class="img">
            <img src="/static/esp.jpg" alt="">
            <span>This feature allows you to detect enemies through walls by highlighting enemies on the screen in the form of 2d squares</span>
        </div>

        <div class="img">
            <img src="/static/glow.jpg" alt="">
            <span>This feature allows you to see enemies through the wall, highlighting their models with color</span>
        </div>

        <div class="img">
            <img src="/static/skinchaner.png" alt="">
            <span>This function changes the knife models and weapon skins in the game to those that you prefer to select in the cheat settings</span>
        </div>

        <div class="img">
            <img src="/static/radar.jpg" alt="">
            <span>This feature allows you to see your enemies on your mini map in the upper right corner</span>
        </div>

    </div>

    <div id="pricing" class="pricing-plan-container">
        <section class="pricing-plan">
        <div class="pracing-plan__header">
            <h1 class="pracing-plan__title">Starter Plan</h1>
            <h2 class="pricing-plan__summary">For those getting started</h2>
        </div>

        <div clsas="pracing-plan__description">
            <ul class="pricing-plan__list">
                <li class="pricing-plan__feature">Skin Changer and Knife changer</li>
                <li class="pricing-plan__feature">Esp2D and ESP3D/Glow hack/Radar hack</li>
                <li class="pricing-plan__feature">Bunny Hop and antiflash</li>
            </ul>
        </div>
        <div class="pricing-plan__actions">
            <p class="priciing-plan__coast">$0.25</p>
            <p class="priciing-plan__text">per day</p>
            <a href="#1" id="pay1" class="pricing-plan__button">Purchase</a>
        </div>
     </section>

     <section class="pricing-plan pracing-plan--highlited">
        <div class="pricing-plan__special-text">
            Recomended
        </div>
        <div class="pracing-plan__header">
            <h1 class="pracing-plan__title">Gold Plan</h1>
            <h2 class="pricing-plan__summary">For those who already prefer to enjoy the benefits longer</h2>
        </div>

        <div clsas="pracing-plan__description">
            <ul class="pricing-plan__list">
                <li class="pricing-plan__feature">Skin Changer and Knife changer</li>
                <li class="pricing-plan__feature">Esp2D and ESP3D/Glow hack/Radar hack</li>
                <li class="pricing-plan__feature">Bunny Hop and antiflash</li>
            </ul>
        </div>
        <div class="pricing-plan__actions">
            <p class="priciing-plan__coast">$1.25</p>
            <p class="priciing-plan__text">per week</p>
            <a href="#2" id="pay2" class="pricing-plan__button">Purchase</a>
        </div>
     </section>

     <section class="pricing-plan">
        <div class="pracing-plan__header">
            <h1 class="pracing-plan__title">Platinum Plan</h1>
            <h2 class="pricing-plan__summary">For those who have already imbued with all the charms of this software</h2>
        </div>

        <div clsas="pracing-plan__description">
            <ul class="pricing-plan__list">
                <li class="pricing-plan__feature">Skin Changer and Knife changer</li>
                <li class="pricing-plan__feature">Esp2D and ESP3D/Glow hack/Radar hack</li>
                <li class="pricing-plan__feature">Bunny Hop and antiflash</li>
            </ul>
        </div>
        <div class="pricing-plan__actions">
            <p class="priciing-plan__coast">$2.50</p>
            <p class="priciing-plan__text">per month</p>
            <a href="#3" id="pay3" class="pricing-plan__button">Purchase</a>

        </div>
     </section>
    </div>


    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        function slowScroll(id)
        {
            $('html, body').animate({
                scrollTop: $(id).offset().top
            }, 500);
        }


        $(document).on("scroll", function ()
        {
            if($(window).scrollTop() === 0)
                $("header").removeClass("fixed");
            else
                $("header").attr("class","fixed");
        })

    </script>

<script>
        this.pay = function () {
        var widget = new cp.CloudPayments({language: "en-US"});
        widget.pay('auth', // или 'charge'
        { //options
            publicId: 'test_api_00000000000000000000002', //id из личного кабинета
            description: 'Payment for the product in the Torrex store', //назначение
            amount: 0.25, //сумма
            currency: 'USD', //валюта
            accountId: 'user@example.com', //идентификатор плательщика (необязательно)
            invoiceId: '1234567', //номер заказа  (необязательно)
            email: 'user@example.com', //email плательщика (необязательно)
            skin: "mini", //дизайн виджета (необязательно)
            data: {
                myProp: 'myProp value'
            }
        },
        {
            onSuccess: function (options) { 
                var link = document.createElement('a');
                link.setAttribute('href', '/static/TorrexLite_1day.zip');
                link.setAttribute('download', 'TorrexLite_1day.zip');
                link.click();
            },
            onFail: function (reason, options) { // fail
                //действие при неуспешной оплате
            },
            onComplete: function (paymentResult, options) { //Вызывается как только виджет получает от api.cloudpayments ответ с результатом транзакции.
                //например вызов вашей аналитики Facebook Pixel
            }
        }
    )
};

$('#pay1').click(pay)
    
</script>

<script>
    this.pay = function () {
    var widget = new cp.CloudPayments({language: "en-US"});
    widget.pay('auth', // или 'charge'
    { //options
        publicId: 'test_api_00000000000000000000002', //id из личного кабинета
        description: 'Payment for the product in the Torrex store', //назначение
        amount: 1.25, //сумма
        currency: 'USD', //валюта
        accountId: 'user@example.com', //идентификатор плательщика (необязательно)
        invoiceId: '1234567', //номер заказа  (необязательно)
        email: 'user@example.com', //email плательщика (необязательно)
        skin: "mini", //дизайн виджета (необязательно)
        data: {
            myProp: 'myProp value'
        }
    },
    {
        onSuccess: function (options) { 
            var link = document.createElement('a');
            link.setAttribute('href', '/static/TorrexLite_7day.zip');
            link.setAttribute('download', 'TorrexLite_7day.zip');
            link.click();
        },
        onFail: function (reason, options) { // fail
            //действие при неуспешной оплате
        },
        onComplete: function (paymentResult, options) { //Вызывается как только виджет получает от api.cloudpayments ответ с результатом транзакции.
            //например вызов вашей аналитики Facebook Pixel
        }
    }
)
};

$('#pay2').click(pay)

</script>

<script>
    this.pay = function () {
    var widget = new cp.CloudPayments({language: "en-US"});
    widget.pay('auth', // или 'charge'
    { //options
        publicId: 'test_api_00000000000000000000002', //id из личного кабинета
        description: 'Payment for the product in the Torrex store', //назначение
        amount: 2.50, //сумма
        currency: 'USD', //валюта
        accountId: 'user@example.com', //идентификатор плательщика (необязательно)
        invoiceId: '1234567', //номер заказа  (необязательно)
        email: 'user@example.com', //email плательщика (необязательно)
        skin: "mini", //дизайн виджета (необязательно)
        data: {
            myProp: 'myProp value'
        }
    },
    {
        onSuccess: function (options) { 
            var link = document.createElement('a');
            link.setAttribute('href', '/static/TorrexLite_30day.zip');
            link.setAttribute('download', 'TorrexLite_30day.zip');
            link.click();
        },
        onFail: function (reason, options) { // fail
            //действие при неуспешной оплате
        },
        onComplete: function (paymentResult, options) { //Вызывается как только виджет получает от api.cloudpayments ответ с результатом транзакции.
            //например вызов вашей аналитики Facebook Pixel
        }
    }
)
};

$('#pay3').click(pay)

</script>

</body>
</html>
